@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
	margin:0px;
	padding: 0px;
}

.container-fluid{
	background-color: #FFFFFF;
	max-width: 1920px;
}

header{
	
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    bottom: 0px;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	
}
.container{
	margin: auto;
	max-width: 1280px;
	overflow: hidden;
}

.logo{
	margin-top: 25px;
	width: 228px;
	height: 50px;
	align-content: center;
	float: left;
		
}

.menu{
	margin-top: 35px;
	float: right;
	clear: right;
	max-width: 502px;
	height: 50px;
	align-content: center;
}

.menu a{
	text-decoration: none;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 14px;
	text-align: left;

}

.menu a:hover{
	background-color: #333333;
	color: white !important;
}

.active{
	background-color: #F16822 !important;
	color: white !important;
}


.slider{
	clear: left;
	clear: right;
	max-width: 1920px;
	height: 800px;
	background-image: url("../images/banner.jpg");
	font-family: 'Raleway', sans-serif;
}

.sheading{
	color: #F16822;
	font-size:64px;
	max-width: 636;
	max-height: 75px;
	margin-top: 350px;
	text-align: center;
}

.spara{
	color: #333333;
	margin-top: 43.37px;
	text-align: center;
	font-size: 32px;
	max-width: 1200px;
	max-height: 81px;
	font-family: 'Montserrat',sans-serif;

}

.left-arrow{
	max-width: 50px;
	max-height: 50px;
	position: absolute;
	top:495px	;
	left:80px;
	transform: rotate(180deg);
}


.right-arrow{
	max-width: 50px;
	max-height: 50px;
	color: #F16822;	
	position: absolute;
	top: 495px;
	right: 80px;

}

.m{
	position: absolute;
	top: 750px;
	left: 885px;
}

.m1{
	position: absolute;
	top: 1009px;
	left: 920px;
	max-width: 25px;
	max-height: 10px;
}

.m2{
	position: absolute;
	top: 1850px;
	left: 920px;
	max-width: 25px;
	max-height: 10px;
}

.m3{
	position: absolute;
	top: 2650px;
	left: 920px;
	max-width: 25px;
	max-height: 10px;
}

.a{
	background-color: #FFFFFF !important;
}
.dot {
  height: 10px;
  width: 10px;
  margin-bottom: 10px;
  background-color: #333333;
  display: inline-block;
}



.services{
	max-width: 1920px;
	max-height: 818px;
	background-color: #FFFFFF;
	text-align: center;
}

.service-text{
	color: #222222;
	font-size:64px;
	max-height: 75px;
	margin-top: 120px;
	text-align: center;
	font-family: 'Raleway';
	font-weight: bold;
}

.wrapper-p{
	margin-right: auto;
	margin-left: 100px;
	margin-top: 50px;
}
.wrapper {
  max-width: 260px; 
  max-height: 300px;
  padding-right: 50px;
  padding-left:  50px;
  float: left;
}



.img-circle{
	margin: auto;
	max-height: 125px;
	max-width: 105px;
	align-items: center;
	background-color: #EEEEEE;
	border-radius: 125px;
}

.img-circle img{
	margin: 20px;
	max-height: 50px;
	max-width: 50px;
}

.heading2{
	line-height: 3;
	max-width: 148px;
	max-height: 29px;	
	text-align: center;
	font-size: 24px;
	font-family: 'Raleway';
}

.spara{
	max-width: 1280px;
	max-height: 98px;
	font-size: 24px;
	font-family: 'Montserrat',sans-serif;
}

.spara1{
	max-width: 317px;
	max-height: 98px;
	font-size: 16px;
	font-family: 'Montserrat';
}

.ubi{
	max-height: 863px;
	margin-top: 200px;
	max-width: 1920px;
	background-color: #333333;
}

.uheading{
	color: #F16822;
	font-size:48px;
	font-family: 'Raleway';
	max-width: 636;
	max-height: 75px;
	margin-top: 120px;
	text-align: center;
}

.upara{
	margin-top: 100px;
	max-width: 1280px;
	max-height: 61px;
	color: #EEEEEE;
	text-align: center;
	font-size: 24px;
	font-family: 'Montserrat';
}

.uimg{
	max-width:874px;
	max-height: 508px;

}

.lpost{
	max-width: 1920px;
	max-height: 1043px;
	background-color: #F9F9F9;
}

.lheading{
	margin-top: 100px !important;
	max-width: 400px;
	max-height: 56px;
	font-size: 48px;
	font-weight: bold;
	color: #333333;
	font-family: 'Raleway';
	text-align: center;
	margin: auto;
}

.lpara{
	margin-top: 50px;
	max-width: 1280px;
	max-height: 200px;
	font-size: 24px;
	text-align: center;
	font-family: 'Montserrat';
	color: #333333;
}

.card{
	
	margin:20px;
	max-width: 350px;
	max-height: 533px;
	float: left;
	box-shadow: 0px 3px 6px #00000029;
	background-color: #FFFFFF;
	padding: 10px;
}

.card:hover{
	box-shadow: 0px 5px 10px; 
}

.card-img{
	text-align: center;
	max-height: 300px;
	max-width: 350px;									
	border: 1px solid #707070;
}

.card-h{
	margin-top: 42px;
	text-align: center;
	max-width: 400px;
	max-height: 47px;
	color: #F16822;
	font-family: 'Raleway',sans-serif;
	font-size:40px;
}

.card-p{
		
		margin-top:29px;
		max-width: 350px;
		max-height:67px;
		font-size: 16px;
		text-align:center;
		font-family: 'Montserrat',sans-serif;
}

.footer{
	max-width:1920px;
	max-height: 577px;
	background-color: #333333;
	border-bottom: 1px solid #777777;
}

.fheader{
	margin-top: 50px;
	max-width: 500px;
	max-height: 29px;
	color: #F16822;
	font-family: 'Raleway';
	font-size: 24px;
}

.flinks{
	margin-left: 10px;
	margin-top: 20px;
	max-width: 300px;
	max-height: 212px;
}

.flinks a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Montserrat';
	color: #CCCCCC;
}

.flinks a:hover{
	color: green;
}

li{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Montserrat';
	color: #CCCCCC;
}

.flinks li{
	padding: 5px;
	list-style-type: none;
}

.l1{
	float: left;
	margin: auto;
	padding:60px;
}

.copytext{
	clear: both;
	max-width: 200px;
	max-height: 29px;
	font-size: 24px;
	color: #777777;
	font-family: 'Montserrat';
}

.copy{
	background-color: #333333;
}
.social{
	margin-top: 10px;
	float: right;
	clear: both;
}
