@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
	margin:0px;
	padding: 0px;
}

.container-fluid{
	background-color: #FFFFFF;
	max-width: 1920px;
}

nav{
	
    background-color: #FFFFFF;
    position: fixed;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	
}
.container{
	margin: auto;
	max-width: 800px;
	align-content: center;
	align-items: center;
}

.logo{
	margin-top: 25px;
	width: 228px;
	height: 50px;
	align-content: center;
	float: left;		
}

.menu{
	margin-top: 35px;
	float: right;
	max-width: 502px;
	height: 50px;
	align-content: center;
}

.menu a{
	text-decoration: none;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 14px;
	text-align: left;

}

.menu a:hover{
	background-color: #333333;
	color: white !important;
}

.active{
	background-color: #F16822;
	color: white !important;
}


.slider{
	max-width: 1920px;
	height: 600px;
	background-image: url("../images/banner.jpg");
	font-family: 'Raleway', sans-serif;
}

.scontainer{
	text-align: center;
	margin: auto;
	max-width: 800px;
	height: 200px;
}

.slider-text{	
	color:#F16822;
	font-size: 50px;
	margin-top: -80px;
	line-height: 2;
}

.para{
	color: #333333;
	height: 81px;
	float: right;
	max-width: 1048;
	font-family: 'Montserrat',sans-serif;

}

.prev-arrow{
	max-width: 50px;
	max-height: 50px;
	color: #F16822;
	margin-top: 300px;
	margin-left: 80px;
	display: inline-block;
	transform: rotate(180deg);
}


.next-arrow{
	max-width: 50px;
	max-height: 50px;
	color: #F16822;
	margin-top: -160px;
	margin-right: 80px;
	display: inline-block;
	float: right;
}

.o{
	background-color: #F16822 !important;
}

.dot{
	margin-top: 120px !important;
	margin: 5px;
	width: 5px;
	height: 5px;
	
	display: inline-block;
	align-items: center;
	float: left;
	background-color: #333333;
}

.m{
	text-align: center;
	align-content: center;
	margin-left: 350px;
}


.services{
	margin-top: 80px;
}

.service-text{
	width: 295px;
	height: 56px;
	line-height: 2;
	font-family: 'Raleway',sans-serif;
	font-size: 40px;
	color: #333333;
}

.dot1{
	margin: 5px;
	width: 5px;
	height: 5px;
	float: left;
	background: #333333;
}


.stype{

	margin-top: 20px;
	width: 260px;
	align-items: center;
	height: 300px;
	float: left;
}


.img-circle{
	margin: auto;
	height: 100px;
	width: 100px;
	align-items: center;
	background-color: #EEEEEE;
	border-radius: 100px;
}

.img-circle img{
	margin: 20px;
}

.heading2{
	line-height: 2;
	width: 148px;
	height: 29px;	
	text-align: center;
	margin-left: 0px;
	font-size: 15px;
	font-family: 'Raleway',sans-serif;
}

.para1{

	width: 250px;
	height: 98px;
	font-size: 10px;
	font-family: 'Montserrat',sans-serif;
}

section{
	height: 618px;
	margin-top: 200px;
	background-color: #333333;
}

.heading1{
	width: 388px;
	height: 56px;
	color: #F16822;
	margin: auto;
	font-size: 40px;
	font-family: 'Raleway',sans-serif;
}


.para2{
	float: right;
	margin-top: 80px;
	height: 60px;
	max-width: 1280px;
	color: #EEEEEE;
	text-align: center;
	font-size: 15px;
	font-family: 'Montserrat',sans-serif;
}

.scontainer-img{
	max-width: 900px;
	text-align: center;
	margin-left: -50px;
}

.card{
	
	margin:20px;
	width: 220px;
	align-items: center;
	max-height: 500px;
	float: left;
	box-shadow: 0px 3px 6px;
	background-color: #FFFFFF;
}

.card:hover{
	box-shadow: 0px 5px 10px; 
}

.card-img{
	height: 180px;
	width: 200px;	
	margin-top: 10px;								
	text-align: center;
	border: 1px solid #707070;
}

.card-h{
	margin: auto;
	width: 182px;
	height: 47px;
	color: #F16822;
	font-family: 'Raleway',sans-serif;
	font-size:25px;
	line-height: 2;
}

.card-p{
		float: right;
		width: 350px
		height:67px;
		font-size: 10px;
		line-height: 2;
		margin: auto;
		font-family: 'Montserrat',sans-serif;
}

footer{
	margin: auto;
	max-width:1902px; 
	margin-top: 400px;
	background: #333333;
	height: 300px;
	border-bottom: 1px solid #FFFFFF;
}

.footer-link{
	
	margin:20px;
	max-width: 220px;
	align-items: center;
	max-height: 500px;
	float: left;

}


.footer-h{
	margin: 30px;
	width: 182px;
	height: 27px;
	color: #F16822;
	font-family: 'Raleway',sans-serif;
	font-size:15px;
	line-height: 2;
}

.footer-l{
		float: ;
		width: 350px
		height:67px;
		font-size: 10px;
		line-height: 2;
		margin-top: 10px;
		font-family: 'Montserrat',sans-serif;
}

.footer-l a{
	
	font-family: 'Montserrat',sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #CCCCCC;
	line-height: 2;
	text-align: left;
	white-space: 2;
}

.footer-l a:hover{

		text-shadow: 1px 1px 1px; 
	}

li{
	list-style-type: none;
}

.fcontainer{
	text-align: center;
	margin: auto;
	max-width: 800px;
	max-height: 50px;
	background-color: #333333;.copy{
	max-width:1902px;
	background: #333333;
	height: 60px;
}

}

.copy{
	margin: auto;
	max-width:1902px;
	margin-top: 0px;
	background: #333333;
	height: 60px;
}

.c{
	text-align: left;
	color: #777777;
	font-family: 'Montserrat',sans-serif;
	
}


.social
{

	float: right;
}
